In [1]:
# Se importan las librerías necesarias
library(tidyverse)
library(ggridges)
library(gdata)

# Directorio de trabajo y nombre de archivo
data_folder <- "datasets"
file_name1 <- "Summary of Weather.csv"
file_name2 <- "Weather Station Locations.xls"

# Se importa el dataset
weather_ww2 <- read.csv(file.path(data_folder, file_name1), dec=",")
stations_ww2 <- read.csv(file.path(data_folder, file_name2), dec=",")
#perl <- gdata:::findPerl("perl")
#stations_ww2 <- read.xls(file.path(data_folder, file_name2), sheet=1, verbose=FALSE, lank.lines.skip=TRUE, method="csv", perl=perl)

# Cambia tamaño del plot
options(repr.plot.width=16, repr.plot.height=12)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

gdata: read.xls support for 'XLS' (Excel 97-2004) files ENABLED.



gdata: read.xls support for 'XLSX' (Excel 2007+) files ENABLED.


Attaching package: ‘gdata’


The following objects are masked from ‘package:dplyr’:

    combine, first, last


The following object is masked from ‘package:purrr’:

    keep


The following object is masked from ‘package:stats’:

    nobs


The following object is masked from ‘package:utils’:

    object.size


The following object is masked from ‘package:base’:

    startsWith

In [2]:
head(weather_ww2, 5)

  STA   Date     Precip WindGustSpd MaxTemp     MinTemp     MeanTemp
1 10001 1942-7-1 1.016              25.55555556 22.22222222 23.88888889
2 10001 1942-7-2 0                  28.88888889 21.66666667 25.55555556
3 10001 1942-7-3 2.54               26.11111111 22.22222222 24.44444444
4 10001 1942-7-4 2.54               26.66666667 22.22222222 24.44444444
5 10001 1942-7-5 0                  26.66666667 21.66666667 24.44444444
  Snowfall PoorWeather YR ⋯ FB FTI ITH PGT TSHDSBRSGF SD3 RHX RHN RVG WTE
1 0                    42 ⋯ NA NA  NA                 NA  NA  NA  NA  NA
2 0                    42 ⋯ NA NA  NA                 NA  NA  NA  NA  NA
3 0                    42 ⋯ NA NA  NA                 NA  NA  NA  NA  NA
4 0                    42 ⋯ NA NA  NA                 NA  NA  NA  NA  NA
5 0                    42 ⋯ NA NA  NA                 NA  NA  NA  NA  NA

In [6]:
weather_ww2_stat <- {colnames(weather_ww2); str(weather_ww2)}
print(weather_ww2_stat)

'data.frame':	119040 obs. of  31 variables:
 $ STA        : int  10001 10001 10001 10001 10001 10001 10001 10001 10001 10001 ...
 $ Date       : chr  "1942-7-1" "1942-7-2" "1942-7-3" "1942-7-4" ...
 $ Precip     : chr  "1.016" "0" "2.54" "2.54" ...
 $ WindGustSpd: chr  "" "" "" "" ...
 $ MaxTemp    : chr  "25.55555556" "28.88888889" "26.11111111" "26.66666667" ...
 $ MinTemp    : chr  "22.22222222" "21.66666667" "22.22222222" "22.22222222" ...
 $ MeanTemp   : chr  "23.88888889" "25.55555556" "24.44444444" "24.44444444" ...
 $ Snowfall   : chr  "0" "0" "0" "0" ...
 $ PoorWeather: chr  "" "" "" "" ...
 $ YR         : int  42 42 42 42 42 42 42 42 42 42 ...
 $ MO         : int  7 7 7 7 7 7 7 7 7 7 ...
 $ DA         : int  1 2 3 4 5 6 7 8 9 10 ...
 $ PRCP       : chr  "0.04" "0" "0.1" "0.1" ...
 $ DR         : int  NA NA NA NA NA NA NA NA NA NA ...
 $ SPD        : int  NA NA NA NA NA NA NA NA NA NA ...
 $ MAX        : int  78 84 79 80 80 80 83 80 81 78 ...
 $ MIN        : int  72 71 72 72 71 71 73 72 73 71 ...
 $ MEA        : int  75 78 76 76 76 76 78 76 77 74 ...
 $ SNF        : chr  "0" "0" "0" "0" ...
 $ SND        : int  NA NA NA NA NA NA NA NA NA NA ...
 $ FT         : logi  NA NA NA NA NA NA ...
 $ FB         : logi  NA NA NA NA NA NA ...
 $ FTI        : logi  NA NA NA NA NA NA ...
 $ ITH        : logi  NA NA NA NA NA NA ...
 $ PGT        : chr  "" "" "" "" ...
 $ TSHDSBRSGF : chr  "" "" "" "" ...
 $ SD3        : logi  NA NA NA NA NA NA ...
 $ RHX        : logi  NA NA NA NA NA NA ...
 $ RHN        : logi  NA NA NA NA NA NA ...
 $ RVG        : logi  NA NA NA NA NA NA ...
 $ WTE        : logi  NA NA NA NA NA NA ...
NULL

In [8]:
summary(weather_ww2)

      STA            Date              Precip          WindGustSpd
 Min.   :10001   Length:119040      Length:119040      Length:119040
 1st Qu.:11801   Class :character   Class :character   Class :character
 Median :22508   Mode  :character   Mode  :character   Mode  :character
 Mean   :29659
 3rd Qu.:33501
 Max.   :82506

   MaxTemp            MinTemp            MeanTemp           Snowfall
 Length:119040      Length:119040      Length:119040      Length:119040
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 PoorWeather              YR              MO               DA
 Length:119040      Min.   :40.00   Min.   : 1.000   Min.   : 1.0
 Class :character   1st Qu.:43.00   1st Qu.: 4.000   1st Qu.: 8.0
 Mode  :character   Median :44.00   Median : 7.000   Median :16.0
                    Mean   :43.81   Mean   : 6.726   Mean   :15.8
                    3rd Qu.:45.00   3rd Qu.:10.000   3rd Qu.:23.0
                    Max.   :45.00   Max.   :12.000   Max.   :31.0

     PRCP                 DR              SPD              MAX
 Length:119040      Min.   : 2       Min.   :10.00    Min.   :-28
 Class :character   1st Qu.:11       1st Qu.:16.00    1st Qu.: 78
 Mode  :character   Median :32       Median :20.00    Median : 85
                    Mean   :27       Mean   :20.40    Mean   : 81
                    3rd Qu.:34       3rd Qu.:23.25    3rd Qu.: 89
                    Max.   :78       Max.   :41.00    Max.   :122
                    NA's   :118507   NA's   :118508   NA's   :474
      MIN              MEA             SNF                 SND
 Min.   :-37.00   Min.   :-32.00   Length:119040      Min.   :0
 1st Qu.: 59.00   1st Qu.: 69.00   Class :character   1st Qu.:0
 Median : 70.00   Median : 78.00   Mode  :character   Median :0
 Mean   : 64.27   Mean   : 72.64                      Mean   :0
 3rd Qu.: 74.00   3rd Qu.: 81.00                      3rd Qu.:0
 Max.   : 94.00   Max.   :104.00                      Max.   :0
 NA's   :468      NA's   :498                         NA's   :113477
    FT             FB            FTI            ITH              PGT
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Length:119040
 NA's:119040    NA's:119040    NA's:119040    NA's:119040    Class :character
                                                             Mode  :character




  TSHDSBRSGF          SD3            RHX            RHN            RVG
 Length:119040      Mode:logical   Mode:logical   Mode:logical   Mode:logical
 Class :character   NA's:119040    NA's:119040    NA's:119040    NA's:119040
 Mode  :character




   WTE
 Mode:logical
 NA's:119040

Se puede observar que las variables (o columnas) FT, FB FTI, ITH, SD3, RHX, RHN, RVG y WTE son todos NA. Para que no molesten durante el pre-analisis de los datasets.
Por otro lado, es evidente que las primeras variables fueron generadas a partir de las siguientes y mal formateadas. Por ejemplo, se unificaron en una variable DATE (fecha), las variables YR (año), MO (mes) y DA (día). Luego, MAX, MIN y MEA en Fahrenheit fueron convertidas a MaxTemp, MinTemp y MeanTemp en °C pero también mal formateadas. Entonces, se descarta

In [4]:
head(stations_ww2, 5)

  WBAN  NAME           STATE.COUNTRY.ID LAT   LON    ELEV Latitude
1 33013 AIN EL         AL               3623N 00637E 611  36.38333333
2 33031 LA SENIA       AL               3537N 00037E  88  35.61666667
3 33023 MAISON BLANCHE AL               3643N 00314E  23  36.71666667
4 33044 TELERGMA       AL               3607N 00621E 754  36.11666667
5 12001 TINDOUF        AL               2741N 00809W 443  27.68333333
  Longitude
1 6.65
2 0.583333333
3 3.216666667
4 6.416666667
5 -8.083333333

In [7]:
print(nrow(weather_ww2))

[1] 119040